<header class="blog-hdr">
  <a class="home" href="{{ website.url }}">{{ website.name|default('InkwellCMS') }}</a>
  <nav>
    {% for key, item in website.menu|default([]) %}
      {% set itemUrl = item.url|default('#') %}
      {% set itemTitle = item.title|default(itemUrl) %}
      <a class="plain {{ view == 'home' and itemUrl == (urls.home|default('/')) ? 'current' : '' }}"
         href="{{ itemUrl }}">{{ itemTitle }}</a>
    {% endfor %}
  </nav>
</header>
