{% import 'partials/macros.html.twig' as fmt %}

<div class="post-meta">
  <time datetime="{{ fmt.date_iso(post.date) }}">{{ fmt.date_readable(post.date) }}</time>

  {% if post.updated and post.updated|date('Y-m-d') != post.date|date('Y-m-d') %}
    <span class="dot">·</span>
    <span>upd. <time datetime="{{ fmt.date_iso(post.updated) }}">{{ fmt.date_readable(post.updated) }}</time></span>
  {% endif %}

  {% if post.read_time %}
    <span class="dot">·</span>
    <span>{{ post.read_time }} min read</span>
  {% endif %}
</div>
